$border: 1px solid grey;
$transition: 300ms;

$color-primary: #3a404c;
$color-secondary: #61dafb;
$color-secondary-darker: darken($color-secondary, 30%);

.App {
  background-color: #282c34;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: flex;
  justify-content: center;
  color: #61dafb;
}

main {
  //background-color: #61dafb;
}

.spots_container {
  margin: 3rem;
  //background: darkslateblue;
  width: 30%;
  //height: 30rem;
  text-transform: uppercase;
}

.spots_header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.spots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "spot-1 spot-6"
    "spot-2 spot-7"
    "spot-3 spot-8"
    "spot-4 spot-9"
    "spot-5 spot-10";
}

.spot-1 { grid-area: spot-1; }
.spot-2 { grid-area: spot-2; }
.spot-3 { grid-area: spot-3; }
.spot-4 { grid-area: spot-4; }
.spot-5 { grid-area: spot-5; }
.spot-6 { grid-area: spot-6; }
.spot-7 { grid-area: spot-7; }
.spot-8 { grid-area: spot-8; }
.spot-9 { grid-area: spot-9; }
.spot-10 { grid-area: spot-10; }

.spot {
  color: $color-secondary;
  height: 6rem;
  border-top: $border;
  border-bottom: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
&:hover {
  transition: $transition;
  background-color: $color-primary;
}

}
.left-spot {
  border-left: $border;
}
.right-spot {
  border-right: $border;
}

svg {
  transform: rotate(360deg) scaleX(-1);

  width: 8rem;
  height: 8rem;
  fill: $color-secondary-darker;
}